<% content_for :page_title do %>
  <%= Spree.t(:export_user, scope: :mailchimp) %>
<% end %>

<%= form_tag admin_edit_mailchimp_path, method: :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <div class="row">
        <div class="col-md-6">
         

          <div class="checkbox" data-hook="admin_mailchimp_input_checkbox_during_registration">
            <%= label_tag do %>
             <%=radio_button_tag(:action, "1")%>
             
              <%= Spree.t(:first, scope: :mailchimp) %>
            <% end %>
          </div>
          
          
                    <div class="checkbox" data-hook="admin_mailchimp_input_checkbox_during_registration">
            <%= label_tag do %>
             <%=radio_button_tag(:action, "2")%>
             <%= Spree.t(:second, scope: :mailchimp) %>
            <% end %>
          </div>
          
          
          <div class="checkbox" data-hook="admin_mailchimp_input_checkbox_during_registration">
            <%= label_tag do %>
             <%=radio_button_tag(:action, "3")%>
             <%= Spree.t(:thirth, scope: :mailchimp) %>
            <% end %>
          </div>
          
          <div class="checkbox" data-hook="admin_mailchimp_input_checkbox_during_registration">
            <%= label_tag do %>
             <%=radio_button_tag(:action, "4")%>
             
              <%= Spree.t(:fourth, scope: :mailchimp) %>
            <% end %>
          </div>
          
          <div class="checkbox" data-hook="admin_mailchimp_input_checkbox_during_registration">
            <%= label_tag do %>
             <%=radio_button_tag(:action, "5")%>
              <%= Spree.t(:fiftin, scope: :mailchimp) %>
              <%= number_field(:user, :xday, in: 1..999, step: 1, value: 30) %>
              <%= Spree.t(:sixtin, scope: :mailchimp) %>
            <% end %>
          </div>
          
          


          <div class="form-actions" data-hook="buttons">
            <%= button Spree.t('actions.update'), 'save' %>
          </div>
        </div>          
      </div>

    </fieldset>

  </div>

<% end %>
